<!-- <footer class="footer bg-dark py-3 mt-2">
    <div class="container-fluid">
        <span class="text-muted">&copy Stock Assistant 2021</span>
    </div>
</footer> -->

<!-- <footer class="bg-dark py-3 mt-2">
    <div class="text-center text-muted">© 2025 Elaf Steel</div>
</footer> -->

<footer class="bg-light py-3 mt-5">
    <div class="text-center text-muted">© 2025 Elaf Steel</div>
</footer>