<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-danger">
            <h4>
                <%= err.message %>
            </h4>
            <pre><%= err.stack %></pre>
        </div>
    </div>
</body>

</html>