<% layout('layout/boilerplate') %>
    <h1>Welcome to your Personal Stock Assistant!</h1>
    <a class="btn btn-primary" href="/items">Refractories & Consumables</a>
    <a class="btn btn-info" href="/items/spares">Spares</a>
    <a class="btn btn-secondary btn-light" href="/partymaster/allparties">Buyer</a>
    <a class="btn btn-secondary btn-dark" href="/supplier/allsuppliers">Supplier</a>
    <a class="btn btn-success" href="/billets/list">Billet List</a>
    <a class="btn btn-warning" href="/billets/tcList">TC List</a>