<% layout('layout/boilerplate') %>
    <h1>Welcome to your Personal Stock Assistant!</h1>
    <a class="btn btn-primary" href="/items">All Items</a>
    <a class="btn btn-secondary" href="/partymaster/allparties">Party Master</a>
    <a class="btn btn-secondary" href="/billets/list">Billet List</a>