<% layout('layout/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Data Entry - Billets Inwards</h1>
        <div class="col-6 offset-3">

            <form action="/billets" method="POST" enctype="multipart/form-data" id="saveHeat" class="validated-form">
                <label class="form-label" for="heatNumber">Heat No.</label>
                <input class="form-control inputField1" type="text" id="heatNumber" name="billet[heatNo]" required>

                <label class="form-label" for="grade">Grade</label>
                <input class="form-control" type="text" id="grade" name="billet[gradeName]" required>

                <!-- <label class="form-label" for="unit">Item Quantity Unit</label>
                                <input class="form-control" type="text" id="unit" name="item[itemUnit]" required> -->
                <label for="section" class="form-label">Section Size - (MM)</label>
                <select class="form-select form-select-md" name="billet[sectionSize]" id="section" required>
                                        <option selected>Select Section</option>
                                        <option value="75X75">75x75</option>
                                        <option value="100X100">100x100</option>
                                        <option value="130X130">130x130</option>
                                        <option value="160X160">160x160</option>
                                        <option value="200X200">200x200</option>
                                        </select>


                <h5 class="mt-2">
                    Enter Chemical Compositon (e.g. :- 0.18, 0.051)
                </h5>
                <label for="carbon" class="form-label">Carbon - C %</label>
                <input type="text" name="billet[c]" id="carbon" class="form-control" placeholder="E.g. 0.45" required>

                <label for="manganese" class="form-label">Manganese - Mn %</label>
                <input type="text" name="billet[mn]" id="manganese" class="form-control" placeholder="E.g. 0.75" required>

                <label for="phos" class="form-label">Phos - P %</label>
                <input type="text" name="billet[p]" id="phos" class="form-control" placeholder="E.g. 0.035" required>


                <label for="sulphur" class="form-label">Sulphur - S %</label>
                <input type="text" name="billet[s]" id="sulphur" class="form-control" placeholder="E.g. 0.025" required>

                <label for="silicon" class="form-label">Silicon - Si %</label>
                <input type="text" name="billet[si]" id="silicon" class="form-control" placeholder="E.g. 0.31" required>

                <label for="chrome" class="form-label">Chrome - Cr %</label>
                <input type="text" name="billet[cr]" id="chrome" class="form-control" placeholder="E.g. 0.05, 0.11">

                <label for="moly" class="form-label">Moly - Mo %</label>
                <input type="text" name="billet[mo]" id="moly" class="form-control" placeholder="E.g. 0.0065">

                <label for="nickel" class="form-label">Nickel - Ni %</label>
                <input type="text" name="billet[ni]" id="nickel" class="form-control" placeholder="E.g. 0.055">

                <label for="aluminium" class="form-label">Aluminium - Al %</label>
                <input type="text" name="billet[al]" id="aluminium" class="form-control" placeholder="E.g. 0.004, 0.012, 0.0007">

                <label for="copper" class="form-label">Copper - Cu %</label>
                <input type="text" name="billet[cu]" id="copper" class="form-control" placeholder="E.g. 0.05">

                <label for="vanadium" class="form-label">Vanadium - V %</label>
                <input type="text" name="billet[v]" id="vanadium" class="form-control" placeholder="E.g. 0.007">

                <label for="ce" class="form-label">Carbon Equivalent - Ce %</label>
                <input type="text" name="billet[ce]" id="ce" class="form-control" placeholder="E.g. 0.55">
                <!-- 
                <label for="totalPcs" class="form-label">Total Pcs</label>
                <input type="number" name="billet[fullLengthQty]" id="totalPcs" class="form-control" required>

                <label for="totalShortLengthPcs" class="form-label">No. of Total Short Length Pcs</label>
                <input type="number" name="billet[shortLengthQty]" id="totalShortLengthPcs" class="form-control">

                <div id="inputContainer" class="mt-2">
                    <label for="lengthOfShortPcs" class="form-label">Enter Length of Short Pcs Below</label>
                </div> --><input type="text" name="oneMore" id="oneMore" class="d-none">



                <button class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#addMoreHeatsModal" type="submit">Save Heat</button>


                <button id="addOneMoreHeat" class="btn btn-primary">Add One More Heat</button>
            </form>

        </div>
    </div>
    <script defer>
        // Wait for the document to fully load
        document.addEventListener('DOMContentLoaded', function() {
            // Get the first input field by its ID
            var firstInputField = document.getElementById('heatNumber');
            console.log(firstInputField);
            // Focus on the first input field
            if (firstInputField) {
                firstInputField.focus();
            }

        });
    </script>
    <script>
        let oneMoreBtn = document.getElementById("addOneMoreHeat")
        let tag = document.getElementById("oneMore")
        let saveHeatForm = document.getElementById("saveHeat")
        oneMoreBtn.addEventListener('click', function() {
            tag.value = "one";
            console.log("CLICKED")
            saveHeatForm.submit()
        })
    </script>
    <!-- <script>
        const addButton = document.getElementById("addInputButton");
        const inputContainer = document.getElementById("inputContainer");
        const inputCountField = document.getElementById("totalShortLengthPcs");

        function addInputFields() {
            let count = parseInt(inputCountField.value, 10);
            // let lastValue = count
            // if (lastValue != count && lengthOfShortPcs) {
            //     inputContainer.removeChild(lengthOfShortPcs)
            // }
            if (isNaN(count) || count <= 0) {
                alert("Please enter a valid positive number.");
                return;
            }

            // Clear existing input fields
            // inputContainer.innerHTML = "";

            for (let i = 0; i < count; i++) {
                const inputField = document.createElement("input");
                inputField.type = "number";
                inputField.name = "billet[shortPisLength]";
                inputField.classList = "form-control m-2"
                inputField.id = "lengthOfShortPcs"
                inputContainer.appendChild(inputField);
            }
        }

        inputCountField.addEventListener("input", addInputFields);
    </script> -->