<% layout('layout/boilerplate') %>
    <div class="container-fluid align-items-center justify-content-center mb-1">
        <h1 class="font-weight-bold mt-1">Party Master</h1>
    </div>
    <form action="/partymaster/search" method="get">
        <input class="form-control" type="search" id="keyWord" name="party[partyName]" placeholder="Search Party/Item" class="mt-1">


    </form>
    <a class="btn btn-secondary mt-2 mb-2" href="/partymaster/new">Add New Party</a>
    <div class="table-responsive">
        <table class="table table-hover table align-middle text-center" id="dataTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>

                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% parties.forEach(function(party, index){%>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= party.partyName %>
                        </td>

                        <td>
                            <form action="/partymaster/<%= party._id %>?_method=DELETE" method="post">
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this item?')" class="btn btn-danger btn-sm d-inline mb-1 bi bi-trash"></button>
                                <a href="/partymaster/<%= party._id %>/edit" class="btn btn-info btn-sm text-light mb-1 bi bi-pencil-square"></a>
                            </form>
                        </td>
                    </tr>
                    <%}) %>
            </tbody>
        </table>
    </div>
    <script defer>
        // Function to handle the "Insert" key press
        function handleKeyPress(event) {
            // Check if the pressed key is the "Insert" key (key code 45)
            if (event.keyCode === 45) {
                // Call the function to redirect to the specified route
                redirectToSpecifiedRoute();
            }
        }

        // Attach the event listener to the document
        document.addEventListener('keydown', handleKeyPress);

        // Function to redirect to the specified route
        function redirectToSpecifiedRoute() {
            // Get the values from the input fields if needed

            // Construct the URL for the specified route, including any parameters
            var specifiedRoute = "/partymaster/new"


            // Redirect to the specified route
            window.location.href = specifiedRoute;
        }
    </script>